<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.alex.imdbstudycase.moviedetails">

    <application>
        <activity
            android:name=".presentation.MovieDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>
</manifest>